# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
/katolika/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/katolika/.dart_tool/
/katolika/.flutter-plugins
/katolika/.flutter-plugins-dependencies
/katolika/.pub-cache/
/katolika/.pub/
/katolika/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/katolika/android/app/debug
/katolika/android/app/profile
/katolika/android/app/release
